* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1070px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-bottom: 130px;
  opacity: 1;
}
.header__logo {
  display: flex;
  z-index: 2;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.header__flex {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  z-index: 2;
  padding: 13px;
  line-height: 16px;
  padding-left: 35px;
  padding-right: 35px;
}
.header__link-open {
  position: relative;
}
.header__link-open::after {
  content: "";
  width: 134px;
  height: 0px;
  border: 3px solid #BABBC5;
  position: absolute;
  top: 70px;
  left: 0;
}
.header__menu {
  display: flex;
}
.header__flex::before {
  content: "";
  width: 1170px;
  height: 0px;
  border: 1px solid #BABBC5;
  position: absolute;
  top: 112px;
  z-index: 2;
}

.banner__h1 {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 31px;
}
.banner::before {
  content: url("/assets/imgs/banner/img(1).png");
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.banner__txt {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 82px;
}
.banner__btn {
  background-color: #FF4343;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  border: none;
  padding: 26px 93px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
}
.banner__border {
  display: hide;
}

.benefits {
  padding-top: 127px;
  padding-bottom: 133px;
  padding-left: 170px;
  padding-right: 170px;
}
.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.benefits__list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
}
.benefits__icon {
  margin-bottom: 41px;
}
.benefits__h2 {
  margin-bottom: 20px;
  line-height: 28px;
  padding: 22px 0;
  font-size: 24px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: rgb(45, 48, 51);
  text-transform: uppercase;
  text-align: center;
}
.benefits__txt {
  text-align: center;
  line-height: 21px;
  font-size: 18px;
  max-width: 370px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgb(108, 114, 121);
}

.galery__container {
  margin-left: 0;
  margin-right: 0;
}
.galery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.galery__img {
  position: relative;
}
.galery__img:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 12, 12, 0.8);
}
.galery__img:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
}/*# sourceMappingURL=style.css.map */