* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 36px;
  margin-bottom: 130px;
}
.header__logo {
  display: flex;
  -moz-column-gap: 1px;
       column-gap: 1px;
  padding-bottom: 25px;
}
.header__flex {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BABBC5;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  z-index: 2;
  padding: 13px;
  line-height: 16px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 36px;
  border-bottom: solid 3px rgba(186, 187, 197, 0);
}
.header__link:hover {
  border-bottom: solid 3px rgb(186, 187, 197);
}
.header__link:active {
  border-bottom: rgb(231, 20, 20) solid 3px;
  color: rgb(231, 20, 20);
}
.header__menu {
  display: flex;
}

.banner {
  margin-bottom: 227px;
}
.banner__h1 {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 31px;
}
.banner::before {
  content: url("/assets/imgs/banner/img(1).png");
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.banner__txt {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 82px;
}
.banner__btn {
  background-color: #FF4343;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  border: none;
  padding: 26px 93px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
}
.banner__border {
  display: hide;
}

.benefits {
  margin-bottom: 133px;
}
.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.benefits__icon {
  margin-bottom: 41px;
  text-align: center;
}
.benefits__h2 {
  margin-bottom: 20px;
  line-height: 28px;
  padding: 22px 0;
  font-size: 24px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: rgb(45, 48, 51);
  text-transform: uppercase;
  text-align: center;
}
.benefits__txt {
  text-align: center;
  line-height: 21px;
  font-size: 18px;
  max-width: 370px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgb(108, 114, 121);
}
.benefits__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.benefits__img {
  position: relative;
}
.benefits__img:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 12, 12, 0.8);
}
.benefits__img:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
}

.galery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.galery__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.galery__wrap_img {
  position: relative;
}
.galery__wrap_img::before {
  content: "";
  display: block;
  padding-top: 89.9%;
}
.galery__wrap {
  position: absolute;
  background-color: rgba(255, 67, 67, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 35px;
}
.galery__wrap:hover {
  opacity: 1;
}
.galery__wrap:active {
  opacity: 1;
  background-color: rgba(185, 12, 12, 0.8);
}
.galery__wrap_h3 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.galery__wrap_txt {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}/*# sourceMappingURL=style.css.map */